:root {
    --dark-color: #111111;
    --light-color: #fafafa;

    --secondary-color: #ed9a16;
}

.body {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media(max-width: 991px) {
    .body {
        grid-template-columns: 1fr;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.initial-budget-input,
.add-product-input {
    border: 2px solid var(--dark-color);
    border-radius: 6px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    gap: 10px;
    padding: 12px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    color: var(--dark-color);
}

label input {
    height: 40px;
    border-radius: 4px;
    border: 2px solid var(--secondary-color);
    font-size: 16px;
    padding: 4px 10px;
    box-sizing: border-box;
}

form button {
    height: 30px;
    border: 2px solid var(--dark-color);
    border-radius: 4px;
    background: var(--secondary-color);
    color: var(--dark-color);
    font-weight: 600;
    cursor: pointer;
}

.body-right-section {

    border: 2px solid var(--dark-color);
    border-radius: 6px;

    box-sizing: border-box;
    padding: 12px;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.body-right-section img {
    width: 300px;
    border-radius: 50%;
    display: none;
}

.body-right-section p.alert {
    color: var(--dark-color);
    font-size: 18px;
    display: none;
}

.product, 
.initial-budget-cart, 
.total,
.remaining-budget {
    width: 100%;

    background: #c7c7c7;
    border-radius: 4px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    
    padding: 4px 12px;
    box-sizing: border-box;
}

.name {
    width: 200px;
}

@media(max-width: 391px) {
    .name {
        width: 120px;
    }
}

.price {
    font-weight: 600;
}

.remove-item {
    height: 30px;

    border-radius: 2px;
    border: 1px solid #111111;

    font-weight: 600;
    background: #ed9a16;
    color: var(--dark-color);

    cursor: pointer;
}

.initial-budget-cart {
    background: #696969;
    margin-bottom: 20px;
    color: var(--dark-color);
}

.total {
    margin-top: 20px;
    background: #696969;
    color: var(--dark-color);
}

.remaining-budget {
    background: #696969;
    color: var(--dark-color);
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttons button {
    height: 30px;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid var(--dark-color);
}

.reset-order {
    color: #fafafa;
    background: rgb(229, 13, 1);
}