:root {
    --dark-color: #111111;
    --light-color: #faf5e9;

    --secondary-color: #ed9a16;
}

.container {
    margin-bottom: 50px;
}

.body {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media(max-width: 991px) {
    .body {
        grid-template-columns: 1fr;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.initial-budget-input,
.add-product-input {
    border: 2px solid var(--dark-color);
    border-radius: 6px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    gap: 10px;
    padding: 12px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    color: var(--dark-color);
}

label input {
    height: 40px;
    border-radius: 4px;
    border: 2px solid var(--secondary-color);
    font-size: 16px;
    padding: 4px 10px;
    box-sizing: border-box;
}

form a {
    height: 25px;

    border: 2px solid var(--dark-color);
    border-radius: 4px;

    background: var(--secondary-color);
    color: var(--dark-color);
    
    font-weight: 600;
    font-size: 14px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

form a:hover {
    background: #ff9d00;
}

.body-right-section {

    height: fit-content;

    border: 2px solid var(--dark-color);
    border-radius: 6px;

    box-sizing: border-box;
    padding: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.cart-area,
.products-area {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}


.initial-budget-cart, 
.total,
.remaining-budget {
    width: 100%;

    background: #c7c7c7;
    border-radius: 4px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    
    padding: 4px 12px;
    box-sizing: border-box;
}

.product {
    width: 100%;

    background: #c7c7c7;
    border-radius: 4px;

    display: flex;
    flex-direction: column;

    
    padding: 4px 12px;
    box-sizing: border-box;
}

.product .id {
    font-size: 14px;
    font-weight: 600;
    color: #202020;
}
.product .info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.name {
    width: 200px;
    font-size: 18px;
}

@media(max-width: 391px) {
    .name {
        width: 120px;
    }
}

.price {
    font-weight: 600;
}

.remove-item {
    height: 30px;

    border-radius: 2px;
    border: 1px solid #111111;

    font-weight: 600;
    background: #ed9a16;
    color: var(--dark-color);

    cursor: pointer;
}

.remove-item:hover {
    background: #ff9d00;
}

.initial-budget-cart {
    background: #696969;
    margin-bottom: 10px;
    color: var(--dark-color);
}

.total {
    margin-top: 10px;
    background: #696969;
    color: var(--dark-color);
}

.remaining-budget {
    background: #696969;
    color: var(--dark-color);
}

.buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttons button {
    height: 30px;
    cursor: pointer;
    border-radius: 2px;
}

.reset-order {
    color: #fafafa;
    background: rgb(229, 13, 1);
    border: 2px solid rgb(229, 13, 1);
}

.reset-order:hover {
    color: rgb(229, 13, 1);
    background: none;
}

.archive-order {
    color: var(--light-color);
    border: 2px solid var(--dark-color);
    background: var(--dark-color);
}

.archive-order:hover {
    color: var(--dark-color);
    border: 2px solid var(--dark-color);
    background: var(--light-color);
}